<section id="why-me">
    <div class="section-content">
        <div class="section-title">
            <span class="title">{{ 'why-me' | transloco}}</span>
        </div>

        <div class="content">
            <div class="motivation">
                <p>{{ 'motivation' | transloco}}</p>
            </div>
            <div class="i-am">
                <h1>{{ 'i-am' | transloco}}</h1>
            </div>
            <div class="infos">
                <div class="icon">
                   <div class="icon-city d-flex"></div>
                   <span>{{'located-in' | transloco}} {{'city' | transloco}}</span>
                </div>
                <div class="icon">
                    <div class="icon-remote d-flex">
                        <img src="assets/icons/remote.png" alt="Remote work">
                    </div>
                    <span>{{'work-remote' | transloco}}</span>
                </div>
                <div class="icon">
                    <div class="icon-challange d-flex">
                        <img src="assets/icons/challenge.png" alt="Challenge Me">
                    </div>
                    <span>{{'challenge' | transloco}}</span>
                </div>
            </div>
            <div class="btn-line">
                <a href="#contact"><div class="btn-primary">{{'contact-me' | transloco}}</div></a>
            </div>
        </div>
    </div>

</section>