@import "./../../shared/styles/_variables.scss";
@import "./../../shared/styles/_mixin.scss";
@import "./../../shared/styles/_standards.scss";


section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: $c-width;
    padding-top: $h-height;
    @include bg-main();

    .section-content {
        margin-top: 14vh;
        @include d-flex(row, flex-start, flex-start, 0);
        color:white;

        .section-title {
            @include d-flex($justify: flex-start, $gap: 0);
            width: $h-width;
            height: 100%;
            margin-top: 72px;
    
            .title {
                @include font(48px, 700);
                @include font-outline();
                transform: rotate(-90deg);
                white-space: nowrap;
            }
        }
    }  
}

.content {
    height: 100%;
    width: 68%;
    @include d-flex(column, center, flex-start, 32px);

    h1 {
        @include font(48px, 700, $bg-green);   
    }

    .motivation {
        hyphens: auto;
        text-align: justify;
        max-width: 80%;
    }
}


.infos {
    @include d-flex(row, center, center, 32px);

    .icon {
        height: 120px;
        width: 220px;
        @include d-flex(column, flex-end, center, 0);

        .d-flex {
            @include d-flex(column, flex-end, center, 0);
        }

        .icon-city {
            height: 100px;
            width: 100px;
            margin-bottom: -20px;
            background-image: url('./../../../assets/icons/location.png');
            @include img-cover();
            &:hover {
                background-image: url('./../../../assets/icons/location-hover.png');
            }
        }
        .icon-remote {
            height: 100px;
            width: 100px;    
            margin-bottom: 16px;     
            img {
                height: 80px;
                width: 80px;
                @include img-cover();
            }
        }

        .icon-challange {
            height: 100px;
            width: 100px;
            margin-bottom: 16px;
            img {
                height: 56px;
                width: 56px;
                @include img-cover();
            }
        }
    }
}

.btn-line {
    width: 100%;
    margin-top: 24px;
    @include d-flex(row, flex-end, center, 32px);
}

.arrow {
    max-width: 90%;
    display:flex;
    justify-content: flex-end;
    margin-bottom: 100px;

    &:hover {
        @include arrow-blur();
    }
}