@import "./../../styles/_variables.scss";
@import "./../../styles/_mixin.scss";

section {
    @include d-flex(column, space-between, center, 0px);
    height: 100vh;
    width: $h-width;
    background-color: $bg-green;
}

nav {
    height: 100%;
    margin-bottom: 120px;
    @include d-flex(column, space-between, center);

    img {
        width: 100%;
        padding: 24px;
    }

    div {
        transform: rotate(-90deg);

        a {
            @include font($size: 30px);
            text-decoration: none;
        }
        &:hover {
            @include font-outline($color: black);
        }
    }
}