@import "./../../styles/_variables.scss";
@import "./../../styles/_mixin.scss";

section {
    @include d-flex(column, space-between, center, 0px);
    height: 100vh;
    width: var(--h-width);
    background-color: $bg-green;
}

nav {
    height: 100%;
    margin-bottom: 120px;
    @include d-flex(column, space-between, center);

    img {
        width: 100%;
        padding: 24px;
    }

    .menu-link {
        transform: rotate(-90deg);
        white-space: nowrap;
        a {
            @include font($size: 30px);
            text-decoration: none;
        }
        &:hover {
            @include font-outline($color: black);
        }
    }

    .mobile-burger {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 820px) {
    section {
        position: absolute;
        top: 0;
        height: 86px;
        width:100vw;
        flex-direction: row;
        justify-content: space-between;
        background: linear-gradient($bg-green, $bg-dark-green);
    }
    nav {
        margin-bottom: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        img {
            height: 86px;
            padding:4px;
        }
        .menu-link  {
            display: none;
        }
        .mobile-burger {
            display: block;
            padding: 8px;
            cursor: pointer;
            img {
                width: 56px;
                height: 56px;
            }
        }  
        .mobile-menu {
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            height: 28vh;
            width: 40vw;
            background: linear-gradient(-45deg, $bg-dark-green, $bg-green);
            padding: 24px 16px;
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
            
            &.show-menu {
                display: flex;
            }
            a {
                @include font(18px, 400, #4a4a4a);
                text-decoration: none;
                padding: 8px;
            }
            .language-toggle {
                @include d-flex(row, center, center, 8px); 
                .lang {
                    @include font(18px, 400, #4a4a4a);
                    cursor: pointer;
                }
                .separator {
                    height: 16px;
                    border-left: 3px solid #4a4a4a;
                }
            }
        }     
    }
   
}