@import "./../../styles/_variables.scss";
@import "./../../styles/_mixin.scss";

section {
    @include d-flex(column, space-between, center, 0px);
    height: 100%;
    width: $h-width;
    background-color: $bg-green;

    img {
        padding: 16px;
        width: 100%;
        height: auto;
    }
}

nav {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 120px;
    @include d-flex(column, space-between, center);

    >div {
        transform: rotate(-90deg);

        a {
            @include font($size: 30px);
            text-decoration: none;
        }
        &:hover {
            @include font-outline($color: black);
        }
    }
}