@import './../../shared/styles/_variables.scss';

.main-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-left: var(--h-width);
}

@media (max-width: 980px) {
  .main-content {
    flex-direction: column;
  }
}