@import "./../../shared/styles/_variables.scss";
@import "./../../shared/styles/_mixin.scss";
@import "./../../shared/styles/_standards.scss";

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: $c-width;
    padding-top: $h-height;
    overflow-y: scroll;
    @include bg-main();

    .section-content {
        @include d-flex(row, flex-start, flex-start, 0);
        color:white;
        margin-top: 8vh;

        .section-title {
            @include d-flex($justify: flex-start, $gap: 0);
            width: $h-width;
            height: 100%;
            margin-top: 8vh;
    
            .title {
                @include font(48px, 700);
                @include font-outline();
                transform: rotate(-90deg);
                white-space: nowrap;
            }
        }
    }  

}

.content {
    width: 100%;
    max-width: 75%;
    @include d-flex(column, flex-start, $gap: 64px);

    .project-card {
        width: 100%;
    }

    .upcoming {
        width: 100%;
        @include d-flex(column, flex-start, $gap: 0);
    }

    .upcoming-headline {
        width: 100%;
        @include d-flex(row, flex-start, $gap: 32px);
        padding-left: 48px;

        .index {
            @include font(64px, 700, $bg-card-green);
            @include font-outline();
        }
    
        .title {
            @include font(38px, 500, $bg-green);
            margin-left: 8px;
        }
    }

    .upcoming-text {
        width: 100%;
        padding-left: 128px;      
    }

    .btn-line {
        margin-top: 32px;
    }
}


.arrow {
    max-width: 90%;
    display:flex;
    justify-content: flex-end;
    margin-top: 100px;

    &:hover {
        @include arrow-blur();
    }
}