<section id="my-work">
    <div class="arrow">
        <a href="#footer"><img src="assets/icons/arrow-right.png" alt="arrow to contact"></a>
    </div>
    <div class="section-content">
        <div class="section-title">
            <span class="title">{{ 'my-work' | transloco}}</span>
        </div>

        <div class="content">
            @for(project of projects; track project) {
            <app-project-card class="project-card" [project]="project"></app-project-card>
            }
            <div class="upcoming">
                <div class="upcoming-headline">
                    <div class="index">3</div>
                    <div class="title">{{ 'upcoming' | transloco}}</div>
                </div>
                <div class="upcoming-text">
                    {{ 'upcoming-text' | transloco}}
                </div>
                <a href="#footer"><div class="btn-primary btn-line">Let's talk</div></a>
            </div>
        </div>
    </div>
</section>