@import "./../../shared/styles/_variables.scss";
@import "./../../shared/styles/_mixin.scss";
@import "./../../shared/styles/_standards.scss";

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    // width: 184vw;
    padding-left: 42px;
    padding-top: $h-height;
    @include bg-main();

    .section-content {
        @include d-flex(row, flex-start, flex-start, 0);
        color:white;

        .section-title {
            @include d-flex($justify: flex-start, $gap: 0);
            width: var(--h-width);
            height: 100%;
            margin-top: 8vh;
    
            .title {
                @include font(48px, 700);
                @include font-outline();
                transform: rotate(-90deg);
                white-space: nowrap;
            }
        }
    }  

}

.content {
    @include d-flex(row, flex-start, $gap: 64px);

    .project-card {
        width: 880px;
    }

    .upcoming {
        width: 18%;
        @include d-flex(column, flex-start, $gap: 0);
    }

    .upcoming-headline {
        width: 100%;
        @include d-flex(row, flex-start, $gap: 32px);
        padding-left: 48px;

        .index {
            @include font(64px, 700, $bg-card-green);
            @include font-outline();
        }
    
        .title {
            @include font(38px, 500, $bg-green);
            margin-left: 8px;
        }
    }

    .upcoming-text {
        width: 100%;
        padding-left: 128px;      
    }

    .btn-line {
        margin-top: 32px;
    }
}


.arrow {
    max-width: 96%;
    display:flex;
    justify-content: flex-end;
    margin-top: 100px;

    &:hover {
        @include arrow-blur();
    }
}


@media (max-width: 980px) {
    section {
        height: auto;
        width: calc(100vw - var(--h-width));
        overflow-y: unset;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 0;
        background: unset;
        .section-content {
            flex-direction: column;
            width: 100%;
            padding-left: 8%;
            padding-right: 8%;     
            .section-title {
                width: 100%;
                padding-top: 32px;
                align-items: flex-start;
                margin-top: 0;
                margin-bottom: 2%;
                .title {
                    transform: rotate(0deg);
                }
            }
        }
    }
    .content {
        max-width: 100%;
        flex-direction: column;
        .project-card {
            width: auto;
        }
        .upcoming {
            margin-top: -6%;
            width: auto;
        }
    }
    .arrow {
        display: none;
    }
}

@media (max-width: 820px) {
    section {
        width: 100vw;
    }
}

@media (max-width: 420px) {
    section {
        .section-content {
            padding-left: 4%;
            padding-right: 4%;
        }
    }
    .content {
        .upcoming-headline {
            padding-left: 0;
            gap: 0;
            .index {
               font-size: 48px;
            }
            .title {
               font-size: 32px;
            }
        }
        .upcoming-text {
            padding-left: 6px;
        }
    }
}

@media (max-width: 380px) {
    section {
        .section-content {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
}

@media (max-width: 320px) {
    section {
        .section-content {
            padding-left: 0;
        }       
    }
}