<section id="contact">
    <div class="section-content">
        <div class="section-title">
            <span class="title">{{ 'contact-me' | transloco}}</span>
        </div>

        <div class="content">
            <div class="form">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div>
                    <input
                      type="text"
                      formControlName="name"
                      placeholder="{{ 'your-name' | transloco }}"
                      class="hide-placeholder"
                      [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                    />
                    @if (submitted && f['name'].errors) {
                    <div class="invalid-feedback">
                      @if (f['name'].errors['required']) {
                      <div>Name is required</div>
                      }
                    </div>
                    }
                  </div>
              
              
                  <div>
                    <input
                      type="email"
                      formControlName="email"
                      placeholder="{{ 'your-email' | transloco }}"                    
                      class="hide-placeholder"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                    />
                    @if (submitted && f['email'].errors) {
                    <div class="invalid-feedback">
                      @if (f['email'].errors['required']) {
                      <div>Email is required</div>
                      }
                      @if (f['email'].errors['email']) {
                      <div>Email is invalid</div>
                      }
                    </div>
                    }
                  </div>

                  <div>
                    <textarea rows="15" placeholder="{{ 'your-message' | transloco }}" class="hide-placeholder"></textarea>
                  </div>       

                  <div class="form-check">    
                    <input
                      type="checkbox"
                      formControlName="acceptTerms"
                      class="form-check-input"
                      [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
                    />
                    <label>
                        <span> {{ 'read' | transloco}}</span>
                        <a href="privacy-policy"> {{ 'privacy' | transloco}} </a>
                        <span>{{ 'accept-policy' | transloco}}</span>
                    </label>

                    @if (submitted && f['acceptTerms'].errors) {
                    <div class="invalid-feedback">Accept Terms is required</div>
                    }
                  </div>
              
                  <div class="form-group btn-line">
                    <button type="submit" class="btn-primary">{{'send' | transloco}}</button>
                  </div>
                </form>
            </div>
            <div class="informations">
                <div class="contact-infos">
                    <div class="work-together">{{'work-together' | transloco}}</div>
                    <div class="contact-text">{{'contact-text' | transloco}}</div>
                    <div class="contact-email"><a href="mailto:regina.gaigl@gmail.com">&#9993; E-Mail: regina.gaigl&#64;gmail.com</a></div>
                    <div class="contact-phone"><a href="tel:+4915203247100">&#9742; Tel: +49 1520 324 71 00</a></div>
                </div>
                <div class="arrow">
                    <a href="#header"><img src="assets/icons/arrow-left.png" alt="back to start"></a>
                </div>
                <div class="links">
                    <a href="legal-notice">{{'legal-notice' | transloco}}</a>
                    <a href="privacy-policy">{{'privacy' | transloco}}</a>
                    <a href="#">&#169; Regina Gaigl 2025</a>
                </div>
            </div>
        </div>
    </div>
</section>