<section id="contact">
    <div class="section-content">
        <div class="section-title">
            <span class="title">{{ 'contact-me' | transloco}}</span>
        </div>

        <div class="content">
            <div class="form">
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)">

                  <div class="form-group">
                    <input
                      type="text" 
                      name="name"
                      formControlName="name"
                      [placeholder]="submitted && f['name'].errors ? getErrorMessage('name',f['name'].errors) : ('your-name' | transloco)"
                      class="form-control hide-placeholder"
                      [ngClass]="{ 'is-invalid-input-text': submitted && f['name'].errors }"
                    />         
                  </div>
              
              
                  <div>
                    <input
                      type="email"
                      name="email"
                      formControlName="email"
                      [placeholder]="submitted && f['email'].errors ? getErrorMessage('email', f['email'].errors) : ('your-email' | transloco)"                    
                      class="form-control hide-placeholder"            
                      [ngClass]="{ 'is-invalid-input-email': emailFocused && f['email'].invalid }"
                      (focus)="onFocus('email')"
                    />
                  </div>

                  <div>
                    <textarea name="message" formControlName="message" rows="10" [placeholder]="submitted && f['message'].errors ? getErrorMessage('message', f['message'].errors) : ('your-message' | transloco)" class="form-control hide-placeholder" [ngClass]="{ 'is-invalid-textarea': submitted && f['message'].errors }"></textarea>
                  </div>       

                  <div class="form-check">    
                    <input
                      type="checkbox"
                      formControlName="acceptTerms"
                      class="form-check-input"
                      [ngClass]="{ 'is-invalid-checkbox': submitted && f['acceptTerms'].errors }"
                    />
                    <label>
                        <span> {{ 'read' | transloco}}</span>
                        <a href="privacy-policy"> {{ 'privacy' | transloco}} </a>
                        <span>{{ 'accept-policy' | transloco}}</span>
                    </label>

                    @if (submitted && f['acceptTerms'].errors) {
                    <div class="invalid-feedback">Accept Terms is required</div>
                    }
                  </div>
              
                  <div class="form-group btn-line">
                    <button type="submit" class="btn-primary" [disabled]="!form.valid">{{'send' | transloco}}</button>
                  </div>
                </form>
            </div>
            <div class="informations">
                <div class="contact-infos">
                    <div class="work-together">{{'work-together' | transloco}}</div>
                    <div class="contact-text">{{'contact-text' | transloco}}</div>
                    <div class="contact-email"><a href="mailto:mail@regina-gaigl.net">&#9993; E-Mail: mail&#64;regina-gaigl.net</a></div>
                    <div class="contact-phone"><a href="tel:+4915203247100">&#9742; Tel: +49 1520 324 71 00</a></div>
                </div>
                <div class="arrow">
                    <a href="#home"><img src="assets/icons/arrow-left.png" alt="back to start"></a>
                </div>
                <div class="links">
                    <a href="legal-notice" target="_blank">{{'legal-notice' | transloco}}</a>
                    <a href="privacy-policy" target="_blank">{{'privacy' | transloco}}</a>
                    <a href="#home">&#169; Regina Gaigl 2025</a>
                </div>
            </div>
        </div>
        <div class="mobile-arrow">
          <a href="#home"><img src="assets/icons/arrow-right.png" alt="arrow to home"></a>
        </div>
        <div class="mobile-icons">
          <a href="mailto:mail@regina-gaigl.net" target="_blank"><div class="email icon"></div></a>
          <a href="https://www.linkedin.com/in/regina-gaigl-417371228/" target="_blank"><div class="linkedin icon"></div></a>
          <a href="https://github.com/vi-rgaigl?tab=repositories" target="_blank"><div class="github icon"></div></a>
      </div>
    </div>
</section>