@import "./../../shared/styles/_variables.scss";
@import "./../../shared/styles/_mixin.scss";
@import "./../../shared/styles/_standards.scss";

section {
    height: 100vh;
    width: $c-width;
    padding-top: $h-height;
    @include bg-main();
}

.section-content {
    @include d-flex(row, flex-start, flex-start, 0);
    color: white;

    .section-title {
        @include d-flex($justify: flex-start, $gap: 0);
        width: var(--h-width);
        height: 100%;
        margin-top: 24vh;

        .title {
            @include font(48px, 700);
            @include font-outline();
            transform: rotate(-90deg);
            white-space: nowrap;
        }
    }
}

.content {
    height: 100%;
    width: 100%;
    margin-top: 12vh;
    @include d-flex(row, space-between, flex-start, 0);
}

.form {
    width: 40%;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        color: $bg-green
    }

    .hide-placeholder:focus::placeholder {
        color: transparent;
    }

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    .btn-line {
        display: flex;
        justify-content: flex-end;
    }
}


.informations {
    width: 40%;
    height: 68vh;
    margin-right: 4%;
    @include d-flex(column, space-between, flex-end);
    text-align: right;
    
    a:hover {
        color: $bg-light-green;
    }
    a:active {
        color: $bg-green;
        text-decoration: underline;
    }

    .contact-infos {
        @include d-flex(column, flex-end, flex-end);

        .work-together {
            @include font(24px, 400, $bg-light-green);
        }
    }

    .links {
        @include d-flex(column, flex-end, flex-end, 24px);
    }

    .arrow {
        &:hover {
            @include arrow-blur();
        }
    }
}

.is-invalid-input-text, .is-invalid-input-email, .is-invalid-textarea {
    border: 1px solid red !important;
    &::placeholder {
        color: red !important;
        opacity: 0.8 !important;
    }
}

.is-invalid-checkbox {
    background-image: url('./../../../assets/icons/cb-error.png') !important;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

@media (max-width: 980px) {
    .informations {
        .arrow {
            display: none;
        }
    }
}