@import "./../../shared/styles/_variables.scss";
@import "./../../shared/styles/_mixin.scss";
@import "./../../shared/styles/_standards.scss";


$pad: 80px;

h1, h2, h3, h4, h5, h6, p, strong, em, a, span, div, li, ul, ol, table td {
    word-break: break-word;
    white-space: pre-wrap;
}

.section {
    @include d-flex(row, center, center, 0);
    @include bg-main();

    .content {
        height: 100vh;
        overflow-y: scroll;
        color: white;
        margin-left: var(--h-width);
        margin-right: var(--h-width);
        padding: $pad;
        padding: $pad;

        h1 {
            @include font(32px, 400, $bg-green);
        }

        h2 {
            margin-top: 32px;
            @include font(24px, 400, $bg-green);
        }

        .arrow {
            @include d-flex(row, flex-end, center, 0);
        }
    }
}


.app-footer {
    position: absolute;
    top:0;
    right: 0;
    height: 100vh;
    
    @include d-flex(column, flex-end, flex-end, 0);
    background-color: $bg-green;

    .footer-content {
        @include d-flex(column-reverse, center, center, 180px);
        width: var(--h-width);
        margin-bottom: 180px;

        a {
            transform: rotate(-90deg);
            color: black !important;
            white-space: nowrap;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

@media (max-width: 1200px) {
    .section {
        .content {
            padding: 42px;
        }
    }
}

@media (max-width: 820px) {
    .section {
        .content {
            margin: $h-height 0 $h-height 0;
            padding: 24px;
        }
    }

    .app-footer {
        position: absolute;
        top: unset;
        bottom: 0;
        bottom: 0;
        height: $h-height;
        width: 100vw;
        
        @include d-flex(row, center, center, 0);
        background-color: $bg-green;
    
        .footer-content {
            @include d-flex(row, center, center, 32px);
            width: 100%;
            margin-bottom: 0;    
            a {
                transform: rotate(0);
            }
        }
    }
}

@media (max-width: 560px) {

    .section {
        .content {
            padding-right: 16px;
        }
    }
}