@import "./../../shared/styles/_variables.scss";
@import "./../../shared/styles/_mixin.scss";

section {
    height: 100vh;
    width: $c-width;
    @include bg-main();
}

.main-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: $h-height;
    padding-right: 80px;
    @include d-flex(row, flex-end, center, 20px);
    z-index: 2;
    background: #000000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    .icon {
        height: 36px;
        width: 36px;
    }

    .email {
        background-image: url('../../../assets/icons/email.png');
        @include img-cover();

        &:hover {
            background-image: url('../../../assets/icons/email-hover.png');
            cursor: pointer;
        }
    }

    .github {
        background-image: url('../../../assets/icons/github.png');
        @include img-cover();

        &:hover {
            background-image: url('../../../assets/icons/github-hover.png');
            cursor: pointer;
        }
    }

    .linkedin {
        background-image: url('../../../assets/icons/linked-in.png');
        @include img-cover();

        &:hover {
            background-image: url('../../../assets/icons/linked-in-hover.png');
            cursor: pointer;
        }
    }
}

.language-toggle {
    @include d-flex(row, center, center, 8px);
    color: white;
    margin-left: 32px;

    .lang {
        cursor: pointer;
    }

    .separator {
        height: 16px;
        border-left: 3px solid white;
    }

    .active {
        color: $bg-green;
    }
}

.img-container {
    position: relative;
    height: 100vh;
    @include d-flex(column, center, space-between, 0);
    text-align: end;

    .avatar {
        position: absolute;
        height: 80%; 
        bottom: 2%;
        img {
            height: 100%;
            width: auto;
        }
    }

    .text-content {
        position: relative;
        height: 24%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 1;
        margin-right: 84px;
        transform: translateY(68%);

        .arrow {
            padding-bottom: 10%;
            &:hover {
                @include arrow-blur();
            }
        }

        .headline {
            @include font(80px, 700, $bg-green);
            width: 100%;
        }

        .subline {
            @include font(50px, 600, $bg-green);
            @include font-outline();
            width: 100%;
        }

        .mobile-city {
            display: none;
        }
    }
}


@media (max-width: 1200px) {
    .img-container {
        .avatar {
            height: 70%;
        }
        .text-content {
            margin-right: 46px;
        }
    }
}

@media (max-width: 980px) {
    section {
        background: unset;
    }
    .img-container {
        .arrow {
            display: none;
        }
    }
}


@media (max-width: 820px) {
    section {
        width: 100vw;
    }
    .main-header {
        display: none;
    }
    .img-container {
        @include d-flex(column, center, center, 0);
        .avatar {
            position: unset;
            height: 54%;
            bottom: 0;
        }
        .text-content {
            height: auto;
            margin-right: 0;
            transform: translateY(0);
            text-align: center;
            .mobile-city {
                display: block;
                @include font(24px, 400, white);
            }
        }
        
    }
}


@media (max-width: 420px) {
    .img-container {
        .avatar {
            height: 40%;
        }
        .text-content {
            .headline {
                font-size: 60px;
            }
            .subline {
                font-size: 40px;
            }
        }
    }
}



@media (max-width:380px) {
    .img-container {
        .text-content {
            .headline {
                font-size: 48px;
            }
            .subline {
                font-size: 32px;
            }
        }
    }
}