<section id="skills">
    <div class="arrow">
        <a href="#my-work"><img src="assets/icons/arrow-right.png" alt="arrow to projects"></a>
    </div>
    <div class="section-content">
        <div class="section-title">
            <span class="title">{{ 'my-skills' | transloco}}</span>
        </div>

        <div class="content">
            <p>{{ 'mindset' | transloco}}</p>
            <div class="icons">
                @for (icon of icons; track icon) {
                    <div class="item">
                        <img [src]="'assets/icons/' + icon['img']" alt="icon">
                        <span>{{ icon['title'] }}</span>
                    </div>
                }
            </div>
            
        </div>
    </div>
</section>
