a {
    text-decoration: none;
    color: white;
}

button {
    all: unset;
    cursor: pointer;

    // &:disabled {
    //     cursor: not-allowed;
    //     background-color: $bg-grey;
    // }
}

.btn-primary {
    padding: 12px 28px;
    background-color: $bg-green;
    color: black;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
        background: linear-gradient($bg-green, $bg-dark-green);
        &:disabled {
            background: $bg-grey;
        }
    }

    &:disabled {
        background-color: $bg-grey;
        cursor: not-allowed;
    }
}

.btn-secondary {
    padding: 12px 28px;
    border: 1px solid $bg-green;
    color: $bg-green;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
        background-color: $bg-green-trans;
        color: white;
        border: 1px solid $bg-light-green;
    }

    &:disabled {
        border: 1px solid $bg-dark-grey;
        color: $bg-dark-grey;
        cursor: not-allowed;
    }
}

input[type="text"], input[type="email"] {
    all: unset;
    width: 100%;
    color: white;
    border: 1px solid $bg-green;
    border-radius: 28px;
    height: 56px;
    padding: 0 24px;
}

input::placeholder, textarea::placeholder {
    color: $bg-light-green;
    opacity: 0.4;
}

textarea {
    all: unset;
    width: 100%;
    color: white;
    border: 1px solid $bg-green;
    border-radius: 28px;
    padding: 24px;
}

// input[type="checkbox"] {
//     display: none;
// }

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    margin-bottom: -4px;
    background-image: url('./../../../assets/icons/cb-default.png');
    @include img-cover();
}

input[type="checkbox"]:hover {
    background-image: url('./../../../assets/icons/cb-hover.png');
}

input[type="checkbox"]:checked {
    background-image: url('./../../../assets/icons/cb-click-green.png');
}

@media (max-width: 420px) {
    input[type="text"], input[type="email"] {
        height: 46px;
    }
}