a {
    text-decoration: none;
}

.btn-primary {
    height: 48px;
    padding: 12px 28px;
    background-color: $bg-green;
    color: black;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
        background: linear-gradient($bg-green, $bg-dark-green);;
    }

    .inactive {
        background-color: $bg-grey;
        cursor: not-allowed;
    }
}

.btn-secondary {
    height: 48px;
    padding: 12px 28px;
    border: 1px solid $bg-green;
    color: $bg-green;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
        background-color: $bg-green-trans;
        color: white;
        border: 1px solid $bg-light-green;
    }

    .inactive {
        border: 1px solid $bg-dark-grey;
        color: $bg-dark-grey;
        cursor: not-allowed;
    }
}