
$h-width: 180px;
$c-width: calc(100vw - #{$h-width});


$bg-green: #B5E93B;
$bg-green-trans: rgba(181, 233, 59, 0.2);
$bg-light-green: #d3ed97;
$bg-dark-green: #547800;
$bg-card-green: #3b4522;
$bg-grey: #9e9d9d;
$bg-dark-grey: #827b7b;