@import "./../../styles/_variables.scss";
@import "./../../styles/_mixin.scss";

section {
    display: none;
    height: 100vh;
    width: $h-width;
    background-color: $bg-green;

}

@media (max-width: 820px) {
    section {
        display: flex;
    }
}