@import "./../../styles/_variables.scss";
@import "./../../styles/_mixin.scss";

section {
    height: 110vh;
    width: 64px;
    background-color: $bg-green;
    z-index: 100;

    a {
        display: none;
    }
    .content {
        display: none;
    }

}

@media (max-width: 820px) {
    section {
        height: 100%;
        width: 100%;
        @include font(16px, 400, $mobile-grey);

        a {
            display: flex;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .content {
            height: 100%;
            @include d-flex(row, center, center, 12px);
            text-align: center;
            .infos {
                @include d-flex(row, center, center, 12px);
            }
        }
    }
}