@import "./../../styles/_variables.scss";
@import "./../../styles/_mixin.scss";

section {
    height: 100px;
    width:100%;
    background-color: $bg-green;

}

@media (max-width: 820px) {
    section {
        height: 100px;
        width:100%;
        background-color: $bg-green;
    
    }
}