@import "./../../shared/styles/_variables";
@import "./../../shared/styles/_mixin";
@import "./../../shared/styles/_standards";

.card-container {
    // height: 54vh;
    width: 100%;
    background: $bg-card-green;
    border-radius: 32px;
    padding: 16px 16px 42px 16px;
}

.headline {
    height: 14vh;
    @include d-flex(row, flex-start, center);
    padding: 32px;;

    .index {
        @include font(100px, 700, $bg-card-green);
        @include font-outline();
    }

    .title {
        @include font(64px, 700, $bg-green);
        margin-left: 16px;
    }
}

.body {
    padding-left: 64px;

    .info {
        @include d-flex(row, space-between, flex-start);
        margin-right: 48px;
        .screenshot {
            height: 20vh;
            &:hover {
                filter: brightness(80%);
            }
        }
    }

    .circle {
        margin-right: 16px;
    }

    .label {
        @include font(24px, 400, white);
    }

    .value {
        margin-left: 32px;
        margin-bottom: 32px;
    }

    .btn-line {
        @include d-flex(row, space-evenly, center, 0);
        margin-top: 32px;
    }

    
}

.read-more {
    display: none;
}

@media (max-width: 1200px) {
    .body {
        .info {
            flex-direction: column;
            gap: 0;
            .screenshot-container {
                width: 100%;
                @include d-flex(column, center, center, 8px);
            }
            .btn-line {
                gap: 32px;
                margin-top: 8px;
            }
        }
    }
}

@media (max-width: 980px) {
    .card-container {
        height: auto;
        padding: 0px 0px 18px 0px;;
    }
    .headline {
        height: 14vh;
        @include d-flex(row, flex-start, center);
        padding: 32px;;
    
        .index {
            font-size: 64px;
        }
    
        .title {
           font-size: 56px;
        }
    }
}

@media (max-width: 680px) {

    .body {
        height: 200px;
        overflow: hidden;
        transition: height 0.3s ease;;
        &.expanded {
          height: auto;
        }
    }
    .read-more {
        width: 100%;
        @include d-flex(row, center, center);
        margin-top: 24px;
        a {
            @include font(16px, 400, $bg-green);
            img {
                height: 12px;
                &.rotate {
                    transform: rotate(180deg);
                  }
            }
        }
    }
}

@media (max-width: 420px) {
    .headline {
        height: 12vh;
        padding: 20px;;
    
        .index {
            font-size:48px;
        }
    
        .title {
            font-size: 36px;
            margin-left: -16px;
        }
    }
    .body {
        padding-left: 16px;
        .label {
            font-size: 20px;
        }
        .value {
            margin-left: 10px;
            margin-bottom: 16px;
        }
        .info {
            margin-right: 12px;
            .screenshot-container{
                width: 100%;
            }
        }
    }
}


@media (max-width: 380px) {
    .body {
        padding-left: 12px;
        .label {
            font-size: 20px;
        }
        .value {
            margin-left: 10px;
            margin-bottom: 12px;
        }
        .info {
            margin-right: 12px;
            .screenshot-container{
                width: 100%;
                .screenshots {
                    height: 24vh;
                }
            }
        }
    }
}