<div class="card-container">

    <div class="headline">
        <div class="index">{{ project.id }}</div>
        <div class="title">{{ project.name }}</div>
    </div>

    <div class="body" [ngClass]="{ 'expanded': isExpanded }">
        <div class="info">
            <div class="info-text">
                <div class="label"><img class="circle" src="assets/icons/circle.png">{{ 'about-project' | transloco }}</div>
                <div class="value">{{ project.description }}</div>
                <div class="label"><img class="circle" src="assets/icons/circle.png">{{ 'technologies' | transloco }}</div>
                <div class="value">{{ project.technologies }}</div>
                <div class="label"><img class="circle" src="assets/icons/circle.png">{{ 'what-i-learned' | transloco }}</div>
            <div class="value">{{ project.learned }}</div>
            </div>
            <div class="screenshot-container">
                <a [href]="project.link" target="_blank"><img class="screenshot" [src]="'assets/img/' + project.image" alt="screenshot join"></a>
                <div class="btn-line">
                    <a [href]="project.github" target="_blank"><div class="btn-secondary">GitHub</div></a>
                    <a [href]="project.link" target="_blank"><div class="btn-primary">Live Test</div></a>
                </div>               
            </div>
        </div>  
    </div>
    <div (click)="toggleExpand()" class="read-more">
        <a href="#">{{ isExpanded ? ('show-less' | transloco) : ('show-more' | transloco) }}
            <img [ngClass]="{ 'rotate': isExpanded }" src="assets/icons/down.png" alt="expand down">
        </a>
    </div>