* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quantico', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #B5E93B; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #547800; 
}

:root {
  --h-width: 180px;
  --f-width: 64px;
}

@media (max-width: 1200px) {
  :root {
      --h-width: 150px;
  }
}

@media (max-width: 980px) {
  :root {
    --h-width: 120px;
}
}

/* quantico-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/quantico-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* quantico-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/quantico-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }