<section class="section">
    <div class="content">
        <div class="arrow">
            <a href="/"><img src="assets/icons/arrow-left.png" (click)="closeTab()" alt="move to home"></a>
        </div>

        <h1>Impressum</h1>
        <p>Informationen über den Diensteanbieter.</p>
        <p>Regina Gaigl</p>
        <p>Riemer Gangsteig 5 
            <br />85622 Feldkirchen b. München,
            <br />Deutschland
        </p>
        <p>
            <strong>Tel.:</strong> 015203247100<br />
            <strong>E-Mail:</strong> <a href="mailto:mail@gaigl-regina.de">mail&#64;gaigl-regina.de</a>
        </p>
        <h2>EU-Streitschlichtung</h2>
        <p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten
            (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br />
            Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen
            Kommission
            unter <a 
                href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE"
                target="_blank"
                rel="follow noopener">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE</a>
            zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
        <p>Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet
            sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        <h2>Bildernachweis</h2>
        <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.
        </p>
        <p>
            <strong>Die Bilderrechte liegen bei:</strong>
            <br />Regina Gaigl
        </p>
        <h2>Weitere Onlineauftritte
        </h2>
        <p>
            <strong>Dieses Impressum gilt auch für</strong>
            <br />
            <a href="https://www.linkedin.com/in/regina-gaigl-417371228" target="_blank"
                rel="noopener">https://www.linkedin.com/in/regina-gaigl-417371228</a>
            <br />
            <a href="https://github.com/vi-rgaigl" target="_blank"
                rel="noopener">https://github.com/vi-rgaigl</a>?tab=repositories
        </p>
        <p>Alle Texte sind urheberrechtlich geschützt.</p>
        <br>
        <br>
        <br>
        <p>Quelle: Erstellt mit dem <a href="https://www.adsimple.de/impressum-generator/"
                title="Impressum Generator Deutschland von AdSimple">Impressum Generator</a> von AdSimple</p>
    </div>


    <div class="app-footer">
        <div class="footer-content">
            <a href="/" (click)="closeTab()">&#169; Regina Gaigl 2025</a>
            <a href="legal-notice">{{'legal-notice' | transloco}}</a>
            <a href="privacy-policy">{{'privacy' | transloco}}</a>
        </div>
    </div>

</section>